{{ define "header" }}
  {{- partial "_shared/navbar.html" . -}}
{{ end }}
{{ define "main" }}
  <div class="main-content">
    <!-- Posts Index
        ================================================== -->
    <section class="recent-posts">
      <div class="section-title">
        <h2><span>All {{ .Section | pluralize }}</span></h2>
      </div>
      <div class="row listrecent">
        {{ $post_paginator := .Paginate (.Pages) 12 }}
        {{ range $post_paginator.Pages }}
          <div
            class="col-sm-12 col-md-6 col-lg-4 col-xxl-3 mb-30px card-group "
          >
            {{- partial "list-partials/postbox.html" . -}}
          </div>
        {{ end }}
      </div>
    </section>

    {{- partial "list-partials/pagination.html" $post_paginator -}}
  </div>
{{ end }}
{{ define "footer" }}
  {{- partial "_shared/footer.html" . -}}
{{ end }}
