{{ define "header" }}
  {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
  <div class="main-content">
    {{- partial "_shared/authorHeader.html" . -}}
    {{- partial "_shared/social.html" . -}}


    <div class="section-title">
      <h2><span>Recent Posts</span></h2>
    </div>

    <div class="row listrecent">
      {{ range $k, $v := (.Paginate (.Site.RegularPages) 12).Pages }}

        <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-3 mb-30px card-group ">
          {{- partial "list-partials/postbox.html" $v -}}
        </div>
      {{ end }}

    </div>
  </div>
{{ end }}

{{ define "footer" }}
  {{- partial "_shared/footer.html" . -}}
{{ end }}
