<header class="text-center">
  {{ $authorImg := resources.Get .Site.Params.author.thumbnail }}
  {{ with
    $authorImg
  }}
    {{ $resizeImg := .Resize "500x" }}
    <a
      href="/about"
      aria-label="Read more about {{ site.Params.author.firstName }} {{ site.Params.author.lastName }}"
    >
      <img
        alt="profile picture of {{ site.Params.author.firstName }} {{ site.Params.author.lastName }}"
        src="{{ $resizeImg.Permalink }}"
        class="rounded-circle text-center index-image"
      />
    </a>
  {{ end }}
  <a
    href="/about"
    aria-label="Read more about {{ site.Params.author.firstName }} {{ site.Params.author.lastName }}"
  >
    <h1 class="index-title">
      {{ .Site.Params.author.firstName }}
      {{ .Site.Params.author.lastName }}
    </h1>
    <h5 class="index-text">{{ .Site.Params.index.subtitle }}</h5>
  </a>
</header>
