<section class="text-center">
  {{ with .Site.Params.social.github }}
    <a href="https://github.com/{{ . }}" aria-label="Author's GitHub"
      ><i class="fab fa-github social-icon" aria-hidden="true"></i
    ></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
    <a href="https://linkedin.com/in/{{ . }}" aria-label="Author's LinkedIn"
      ><i class="fab fa-linkedin social-icon" aria-hidden="true"></i
    ></a>
  {{ end }}
  {{ with .Site.Params.social.medium }}
    <a href="https://www.medium.com/@{{ . }}"
      ><i class="fab fa-medium social-icon" aria-hidden="true"></i
    ></a>
  {{ end }}
  {{ with .Site.Params.social.twitter }}
    <a href="https://twitter.com/{{ . }}" aria-label="Author's Twitter"
      ><i class="fab fa-twitter social-icon" aria-hidden="true"></i
    ></a>
  {{ end }}
</section>
