<!-- begin post -->
<div class="col-lg-4 col-md-12 mb-30px card-group">
  <div class="card h-100">
    <div class="maxthumb">
      <a href="{{ .Permalink }}">
        {{ $images := .Resources.ByType "image" }}
        {{ with $images.GetMatch "images/cover*" }}
          {{ $resizeImg := .Resize "600x" }}
          <img
            src="{{ $resizeImg.Permalink }}"
            alt="A thumbnail image"
          />
        {{ end }}
      </a>
    </div>
    <div class="card-body">
      <h2 class="card-title">
        <a class="text-dark" href="{{ .Permalink }}">
          {{ if (eq .Section "til") }}TIL:{{ end }}
          {{ .Title }}
        </a>
      </h2>
      <h4 class="card-text">{{ .Summary }}</h4>
    </div>
    <div class="card-footer bg-white">
      <div class="wrapfooter">
        <span class="author-meta">
          <span class="post-name"
            >{{ .Site.Params.author.firstName }}
            {{ .Site.Params.author.lastName }}</span
          ><br />
          <span class="post-date"
            >{{ dateFormat "Jan 2, 2006" .PublishDate }} -
            {{ .ReadingTime }}
            min read
          </span>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- end post -->
